<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>Intel Apollo Lake</title>
<meta name="keywords" content="深圳市卓信创驰技术有限公司">
<meta name="description" content="深圳市卓信创驰技术有限公司">
<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/less.css">
<script src="/static/js/jquery.min.js"></script>
</head>
<body ondragstart="return false">
<div class="header">
    <div class="wp">
        <div class="hd">
            <div class="menuBtn"></div>
            <div class="logo">
                <a href="/index1.html"><img src="/static/picture/2a9e30040078264f1aac0b425be2d52e.png"></a>
            </div>
            <div class="hdr">
                <ul class="ul-nav">
                    <li><a href="/index1.html" class="v1">首页</a></li>
                                                            <li>
                        <a href="/Producs2.html" class="v1">产品信息</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                                                            <div class="lab on">应用</div>
                                                                            <div class="lab ">处理器</div>
                                                                            <div class="lab ">产品特性</div>
                                     
                                    </div>
                                    <div class="g-tabinfo">
                                                                            <div class="item on">
                                            <div class="tit-m">应用</div>
                                                                                        <div class="con">
                                                <div class="tit">加固型嵌入式计算平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/scalable3.html" class="v2">可扩展嵌入式系列</a>
                                                                                                    <a href="/mini4.html" class="v2">超紧凑迷你型系列</a>
                                                                                                    <a href="/universal3.html" class="v2">通用嵌入式系列</a>
                                                                                                    <a href="/allinone3.html" class="v2">⼯业触控⼀体机</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">机器与视觉控制</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/realtimeIO3.html" class="v2">实时I/O控制</a>
                                                                                                    <a href="/cards3.html" class="v2">扩展卡与以太⽹卡</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">IOT物流网网关</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">加固型机架式计算平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">处理器</div>
                                                                                        <div class="con">
                                                <div class="tit">第十二代英特尔平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/AlderLake1.html" class="v2">英特尔Alder Lake平台</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">第十一代英特尔平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/TigerLake2.html" class="v2">英特尔Tiger Lake平台</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">第⼗代英特尔平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/CometLake2.html" class="v2">英特尔Comet Lake平台</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">第六⾄九代英特尔平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/6to92.html" class="v2">第六⾄九代英特尔平台</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel ATOM平台</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/ApolloLake21.html" class="v2">Intel Apollo Lake</a>
                                                                                                    <a href="/ElkhartLake2.html" class="v2">Intel Elkhart Lake</a>
                                                                                                    <a href="/AlderLakeN2.html" class="v2">Intel Alder Lake N</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">网卡</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/wangka21.html" class="v2">网卡</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">产品特性</div>
                                                                                        <div class="con">
                                                <div class="tit">PoE/PoE+</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/PoEPoE2.html" class="v2">PoE/PoE+</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">2.5"超迷你型</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/2.5mini81.html" class="v2">2.5"超迷你型</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">多个扩展槽</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/expansion62.html" class="v2">多个扩展槽</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">多⽹⼝</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/multiLAN32.html" class="v2">多网口</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">实时触发和DIO</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/DIO72.html" class="v2">实时触发和DIO</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">核心主板</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/singleboard73.html" class="v2">核心主板</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                                            </li>
                                        <li>
                        <a href="/sample5.html" class="v1">销售与支持</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">销售与支持</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">销售与支持</div>
                                            <div class="con">
                                                <div class="tit">销售与支持</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/sample3.html" class="v2">样品申请</a>
                                                                                                    <a href="/ycsphy2.html" class="v2">售后服务</a>
                                                                                                    <a href="/problems2.html" class="v2">常见问题</a>
                                                                                                    <a href="/downloads2.html" class="v2">下载专区</a>
                                                                                                    <a href="/designandmanufacture2.html" class="v2">设计与制造</a>
                                                                                                    <a href="/customized2.html" class="v2">客制化服务</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                        <li>
                        <a href="/Application2.html" class="v1">行业应用</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">行业应用</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">行业应用</div>
                                            <div class="con">
                                                <div class="tit">行业应用</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/322.html" class="v2">智能制造</a>
                                                                                                    <a href="/109.html" class="v2">机器视觉</a>
                                                                                                    <a href="/922.html" class="v2">AMR</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                    </li>
                                        <li>
                        <a href="/company8.html" class="v1">关于我们</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">关于我们</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">关于我们</div>
                                            <div class="con">
                                                <div class="tit">关于我们</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/company5.html" class="v2">公司简介</a>
                                                                                                    <a href="/companyculture3.html" class="v2">企业文化</a>
                                                                                                    <a href="/news3.html" class="v2">新闻动态</a>
                                                                                                    <a href="/contactus3.html" class="v2">联系我们</a>
                                                                                                    <a href="/video2.html" class="v2">视频介绍</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                                    </ul>
                <div class="hd-link">
                    <div class="so_box">
                        <a href="JavaScript:;" class="so"><img src="/static/picture/g-icn07.png" alt=""></a>
                        <div class="box">
                            <div class="wp">
                                <form method="get" target="ifrm1" action="/index.php/Category/searchs.html" autocomplete="off">
                                    <div class="ipt"><input name="key" type="text" placeholder="请输入搜索内容"></div>
                                    <button type="submit" class="btn"><img src="/static/picture/g-icn07.png" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="lang">
                        <div class="act">CN</div>
                        <div class="sub">
                            
                            <a href="https://futurerobottech.com/en/index.php/ApolloLake2.html" class="v2">EN</a>
                            <a href="" class="v2">CN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="con" style="background-image: url(/static/image/279951d5be5ec9205b4a1059c8df6116.jpg);">
        <div class="txt">
            <div class="wp">
                <div class="tit">COMPANY INTRODUCTION</div>
                <div class="desc">产品信息</div>
            </div>
        </div>
    </div>
</div><div class="row-c8">
    
    <div class="wp">
    <div class="g-tit03" style="text-align: left;">
        <div class="tit">在所有产品中搜索</div>
    </div>    
    <form name="form_message" target="ifrm1" method="post" action="/index.php/Category/search.html" autocomplete="off">
        <ul class="ul-sel01">
                    <li>
                <div class="sel">
                    <div class="act">
                        <span>处理器</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                   
                            <div class="item">
                                <div class="tit">处理器类型</div>
                                <div class="con">
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="14" data-txt="酷睿 i7">酷睿 i7</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="15" data-txt="酷睿 i5">酷睿 i5</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="36" data-txt="酷睿i3">酷睿i3</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="37" data-txt="奔腾">奔腾</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="38" data-txt="赛扬">赛扬</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs10[]" value="39" data-txt="其他">其他</div>
                                                                  </div>
                            </div>
                           
                            <div class="item">
                                <div class="tit">处理器核⼼</div>
                                <div class="con">
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="16" data-txt="2">2</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="17" data-txt="4">4</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="40" data-txt="6">6</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="41" data-txt="8">8</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="42" data-txt="10">10</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs11[]" value="43" data-txt="其他">其他</div>
                                                                  </div>
                            </div>
                                                                          <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>内存</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">内存</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="18" data-txt="DDR3">DDR3</div>
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="19" data-txt="LPDDR3">LPDDR3</div>
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="44" data-txt="DDR4">DDR4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="45" data-txt="LPDDR4">LPDDR4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="46" data-txt="DDR5">DDR5</div>
                                                              <div class="ckb"><input type="checkbox" name="cs2[]" value="47" data-txt="其他">其他</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>显示接⼝</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">显示接⼝</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs3[]" value="20" data-txt="VGA">VGA</div>
                                                              <div class="ckb"><input type="checkbox" name="cs3[]" value="21" data-txt="DVI">DVI</div>
                                                              <div class="ckb"><input type="checkbox" name="cs3[]" value="48" data-txt="DP">DP</div>
                                                              <div class="ckb"><input type="checkbox" name="cs3[]" value="49" data-txt="HDMI">HDMI</div>
                                                              <div class="ckb"><input type="checkbox" name="cs3[]" value="50" data-txt="eDP">eDP</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>⽹⼝</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">⽹⼝</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs4[]" value="22" data-txt="2个及以下">2个及以下</div>
                                                              <div class="ckb"><input type="checkbox" name="cs4[]" value="23" data-txt="3">3</div>
                                                              <div class="ckb"><input type="checkbox" name="cs4[]" value="51" data-txt="4">4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs4[]" value="52" data-txt="5">5</div>
                                                              <div class="ckb"><input type="checkbox" name="cs4[]" value="53" data-txt="6">6</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>串⼝</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">串⼝</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs5[]" value="24" data-txt="2个及以下">2个及以下</div>
                                                              <div class="ckb"><input type="checkbox" name="cs5[]" value="25" data-txt="4">4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs5[]" value="54" data-txt="6">6</div>
                                                              <div class="ckb"><input type="checkbox" name="cs5[]" value="55" data-txt="8">8</div>
                                                              <div class="ckb"><input type="checkbox" name="cs5[]" value="56" data-txt="其他">其他</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>USB</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">USB</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs6[]" value="26" data-txt="2">2</div>
                                                              <div class="ckb"><input type="checkbox" name="cs6[]" value="27" data-txt="4">4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs6[]" value="57" data-txt="6">6</div>
                                                              <div class="ckb"><input type="checkbox" name="cs6[]" value="58" data-txt="8">8</div>
                                                              <div class="ckb"><input type="checkbox" name="cs6[]" value="59" data-txt="其他">其他</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>PCI/PCIE扩展槽数量</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">PCI/PCIE扩展槽数量</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs7[]" value="28" data-txt="2">2</div>
                                                              <div class="ckb"><input type="checkbox" name="cs7[]" value="29" data-txt="4">4</div>
                                                              <div class="ckb"><input type="checkbox" name="cs7[]" value="60" data-txt="4个以上">4个以上</div>
                                                              <div class="ckb"><input type="checkbox" name="cs7[]" value="66" data-txt="/">/</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>IO</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                   
                            <div class="item">
                                <div class="tit">类型</div>
                                <div class="con">
                                   
                                    <div class="ckb"><input type="checkbox" name="cs12[]" value="30" data-txt="GPIO">GPIO</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs12[]" value="31" data-txt="DIO">DIO</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs12[]" value="67" data-txt="/">/</div>
                                                                  </div>
                            </div>
                           
                            <div class="item">
                                <div class="tit">数量</div>
                                <div class="con">
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="32" data-txt="4">4</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="33" data-txt="8">8</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="61" data-txt="16">16</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="62" data-txt="32">32</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="63" data-txt="其他">其他</div>
                                   
                                    <div class="ckb"><input type="checkbox" name="cs13[]" value="68" data-txt="/">/</div>
                                                                  </div>
                            </div>
                                                                          <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="sel">
                    <div class="act">
                        <span>电源类型</span>
                        <span class="acinfo"></span>
                    </div>
                    <div class="sub">
                                                <div class="item">

                            <div class="tit">电源类型</div>
                            <div class="con">
                                                              <div class="ckb"><input type="checkbox" name="cs9[]" value="34" data-txt="12V DC">12V DC</div>
                                                              <div class="ckb"><input type="checkbox" name="cs9[]" value="35" data-txt="24V DC">24V DC</div>
                                                              <div class="ckb"><input type="checkbox" name="cs9[]" value="64" data-txt="9~36V DC">9~36V DC</div>
                                                              <div class="ckb"><input type="checkbox" name="cs9[]" value="65" data-txt="220V AC">220V AC</div>
                                                          </div>
                        </div>
                                                <div class="links">
                            <div class="btn1">取消</div>
                            <div class="btn2">确认</div>
                        </div>
                    </div>
                </div>
            </li>
                    
            
        </ul><div class="g-more01">
             <button type="submit" style="display:inline-block !important;border:none;" class="tit">提交</button>
             
            </div>
    </form>

        <div class="g-tit03">
            <div class="tit">共为您找到<span>6</span>个产品</div>
            <a href="/index.php/Category/order.html" target="_blank" class="more">查看产品对比（<span>0</span>）</a>
        </div>
        <ul class="ul-pro05">
                    <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/mini/18.html"><img src="/static/picture/1ee40071ab74feee024fdcc60918949f.png" alt="E200系列"></a></div>
                    <div class="txt">
                        <div class="tit">E200系列</div>
                        <div class="desc">
                            <p>Intel J3355/J3455/N3350/N4200
<br>• 1 HDMI
<br>• 2 Intel i225-V GbE LAN
<br>• 3 USB3.0, 1 USB2.0
<br>• 1RS-232/422/485, 3 RS-232/485
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/mini/18.html" title="E200系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="18" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/scalable/97.html"><img src="/static/picture/fe361ed135bea5d5c301615052b6dfff.png" alt="E201系列"></a></div>
                    <div class="txt">
                        <div class="tit">E201系列</div>
                        <div class="desc">
                            <p>• Intel®Apollo Lake SoC处理器
<br>• 2 x Intel i225-V GbE LAN
<br>• 4 x USB, 2 x COM, 1 x HDMI
<br>• 4 x DIO, 2 x CAN
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/scalable/97.html" title="E201系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="97" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/mini/96.html"><img src="/static/picture/939294baffa942d27fcfc1e1c822bc36.png" alt="E330系列"></a></div>
                    <div class="txt">
                        <div class="tit">E330系列</div>
                        <div class="desc">
                            <p>• Intel®Apollo Lake SoC处理器, 1 DP和1 HDMI
<br>• 3 GbE LANs（2 x Intel i211/i210-AT,1 x RTL8111H GbE）
<br>• 4 x USB, 2 x RS232, 2 x RS485
<br>• 4 x DIO
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/mini/96.html" title="E330系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="96" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/mini/94.html"><img src="/static/picture/3da993a7e7cbd23c48d299aa45fcd0cb.png" alt="E310系列"></a></div>
                    <div class="txt">
                        <div class="tit">E310系列</div>
                        <div class="desc">
                            <p>• Intel®Apollo Lake SoC处理器, 1 DP和1 HDMI
<br>• 3 GbE LANs（2 x Intel i211/i210-AT,1 x RTL8111H GbE）
<br>• 4 x USB, 2 x RS232, 2 x RS485
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/mini/94.html" title="E310系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="94" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/mini/39.html"><img src="/static/picture/727ff9b4780b744b5bcc42558b0c4f61.png" alt="V300系列"></a></div>
                    <div class="txt">
                        <div class="tit">V300系列</div>
                        <div class="desc">
                            <p>• Intel®Apollo Lake SoC处理器, 1 DP和1 HDMI
<br>• 3 GbE LANs（1 x RTL8111H GbE，2 x Intel i210 GbE）
<br>• 4 x USB, 1 x RS232, 1 xRS485
<br>• 4 DIO,支持2组光源控制
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/mini/39.html" title="V300系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="39" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><a href="/index.php/mini/38.html"><img src="/static/picture/ab939675cd9d0d66dd03b9a4f1ef50dd.png" alt="E300系列"></a></div>
                    <div class="txt">
                        <div class="tit">E300系列</div>
                        <div class="desc">
                            <p>• Intel®Apollo Lake SoC处理器, 1 DP和1 HDMI
<br>• 1 GbE LANs（1 x RTL8111H GbE）
<br>• 4 x USB, 1 x RS232（可选）
<br>• 超紧凑迷你型</p>
                        </div>
                        <div class="links">
                            <a href="/index.php/mini/38.html" title="E300系列" class="btn1">查看详情</a>
                            <a href="javascript:;" data-id="38" class="btn2">加入对比</a>
                        </div>
                    </div>
                </div>
            </li>
                    </ul>
    </div>
</div>
<script>
    $(function() {
        $('.ul-sel01 .act').click(function() {
            $(this).siblings('.sub').stop().slideToggle();
        });
        $('.ul-sel01 .btn1').click(function() {
            $(this).parents('.sub').stop().slideUp();
            $(this).parent().siblings('.item').each(function(i, e) {
                $(e).find('.ckb').each(function(i, e) {
                    $(e).find('input').prop('checked', false);
                });
            });
            $(this).parents('.sub').siblings('.act').removeClass('on').find('.acinfo').text('');
        });
        $('.ul-sel01 .btn2').click(function() {
            var txt = "";
            $(this).parents('.sub').stop().slideUp();
            $(this).parent().siblings('.item').each(function(i, e) {
                $(e).find('.ckb').each(function(i, e) {
                    if ($(e).find('input').prop('checked')) {
                        txt += $(e).find('input').data('txt') + ' ';
                    }
                });
            });
            if (txt != "") {
                $(this).parents('.sub').siblings('.act').addClass('on').find('.acinfo').text(txt);
            } else {
                $(this).parents('.sub').siblings('.act').removeClass('on');
            }
        });

        $('.ul-pro05 .btn2').click(function() {
                var val = $(this).text();
                var num = 0;
                if (val == "加入对比") {
                    $(this).parents('li').addClass('act');
                    $(this).text('取消对比');
                    var id = $(this).data('id');
                    console.log(id);
                    $.ajax({
                        type: "post",
                        url: "/index.php/Category/cartadd.html",
                        data: {
                            "start": id
                        }
                    });
                } else {
                    $(this).parents('li').removeClass('act');
                    $(this).text('加入对比');
                    var id = $(this).data('id');
                    console.log(id);
                    $.ajax({
                        type: "post",
                        url: "/index.php/Category/cartadds.html",
                        data: {
                            "start": id
                        }
                    });
                }
                $('.ul-pro05 .act').each(function(index, e) {
                    num++;
                });;
                $('.g-tit03 .more span').text(num);
            });


        $(document).mouseup(function(e) {
            var con = $(".ul-sel01 .sub");
            if (!con.is(e.target) && con.has(e.target).length === 0) {
                $(".ul-sel01 .sub").stop().slideUp();
            }
        });
    });
</script><div class="footer">
    <div class="wp">
        <div class="fd-top">
            <ul class="ul-fdnav">
                                            <li>
                    <div class="tit">产品信息</div>
                                                            <a href="/scalable5.html" class="v1">可扩展嵌入式系列</a>
                                        <a href="/mini6.html" class="v1">超紧凑迷你型系列</a>
                                        <a href="/universal5.html" class="v1">通用嵌入式系列</a>
                                        <a href="/allinone5.html" class="v1">⼯业触控⼀体机</a>
                                                            <a href="/realtimeIO5.html" class="v1">实时I/O控制</a>
                                        <a href="/cards5.html" class="v1">扩展卡与以太⽹卡</a>
                                                                                                            </li>
                                <li>
                    <div class="tit">销售与支持</div>
                                                                               <a href="/sample3.html" class="v1">样品申请</a>
                                        <a href="/ycsphy2.html" class="v1">售后服务</a>
                                        <a href="/problems2.html" class="v1">常见问题</a>
                                        <a href="/downloads2.html" class="v1">下载专区</a>
                                        <a href="/designandmanufacture2.html" class="v1">设计与制造</a>
                                        <a href="/customized2.html" class="v1">客制化服务</a>
                                                                                          </li>
                                <li>
                    <div class="tit">行业应用</div>
                                                                                                <a href="/322.html" class="v1">智能制造</a>
                                        <a href="/109.html" class="v1">机器视觉</a>
                                        <a href="/922.html" class="v1">AMR</a>
                                                                        </li>
                                <li>
                    <div class="tit">关于我们</div>
                                                                                                                  <a href="/company8.html" class="v1">公司简介</a>
                                        <a href="/companyculture5.html" class="v1">企业文化</a>
                                        <a href="/news5.html" class="v1">新闻动态</a>
                                        <a href="/contactus5.html" class="v1">联系我们</a>
                                        <a href="/video3.html" class="v1">视频介绍</a>
                                                      </li>
                                        </ul>
            <div class="fd-tel">
                <div class="info">
                    <div class="fd-logo"><a href="/index1.html"><img src="/static/picture/fd-logo.png" alt=""></a></div>
                    <ul class="ul-tel">
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn03.png" alt=""></div>
                                <div class="txt">热线：0755-86560716</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn04.png" alt=""></div>
                                <div class="txt">邮箱：info@futurerobottech.com</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn05.png" alt=""></div>
                                <div class="txt">地址：广东省深圳市南山区龙珠三路45号南山睿园17栋6层</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="qr">
                    <img src="/static/picture/3afac894371445098f9e3f2ec09fb810.png">
                    <div class="desc">扫一扫，关注我们</div>
                </div>
            </div>
        </div>
        <div class="fd-copy">
            <div class="copy"><p>Copyrigt © 深圳市卓信创驰技术有限公司 All Rights Reserved 粤ICP备18096933号-1</p></div>
            <div class="link">
                <!-- <a href="">网站地图</a> -->
            </div>
        </div>
    </div>
</div>
<ul class="ul-snv">
    <li>
        <a href="javascript:;" class="con"><img src="/static/picture/g-icn06.png" alt=""></a>
        <div class="sub">
            <div class="item">
                <div class="icn"><img src="/static/picture/icn42.png" alt=""></div>
                <div class="tit"><a href="https://yzf.qq.com/xv/web/static/chat/index.html?sign=37ef9b97d1200792214797eb1bb3e2630aa7cd46ba3f51ff51a4bc40ea01b72f3ead319deab6bfffccb80ab144769342f22e8cb6" target="_blank">在线联系</a></div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn43.png" alt=""></div>
                <div class="tit">0755-86560716</div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn44.png" alt=""></div>
                <div class="tit">info@futurerobottech.com</div>
            </div>
        </div>
    </li>
</ul>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/lib.js"></script>
<link rel="stylesheet" href="/static/css/slick.css">
<script src="/static/js/slick.min.js"></script>
</body>
</html>