<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>About us</title>
<meta name="keywords" content="深圳市卓信创驰技术有限公司">
<meta name="description" content="深圳市卓信创驰技术有限公司">
<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/css/style1.css">
<link rel="stylesheet" href="/static/css/less1.css">
<script src="/static/js/jquery.min.js"></script>
</head>
<body ondragstart="return false">
<div class="header">
    <div class="wp">
        <div class="hd">
            <div class="menuBtn"></div>
            <div class="logo">
                <a href="/en.html"><img src="/static/picture/2a9e30040078264f1aac0b425be2d52e.png"></a>
            </div>
            <div class="hdr">
                <ul class="ul-nav">
                    <li><a href="/en.html" class="v1">Home</a></li>
                                                            <li>
                        <a href="/Producs1.html" class="v1">Products</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                                                            <div class="lab on">Applications</div>
                                                                            <div class="lab ">Processors</div>
                                                                            <div class="lab ">Features</div>
                                     
                                    </div>
                                    <div class="g-tabinfo">
                                                                            <div class="item on">
                                            <div class="tit-m">Applications</div>
                                                                                        <div class="con">
                                                <div class="tit">Rugged Embedded Computing</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/scalable2.html" class="v2">Scalable Embedded Series</a>
                                                                                                    <a href="/mini3.html" class="v2">Mini Size series</a>
                                                                                                    <a href="/universal2.html" class="v2">Universal Fanless Series</a>
                                                                                                    <a href="/allinone2.html" class="v2">All-in-one IPC</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Machine and Vision Control</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/realtimeIO2.html" class="v2">Real-time I/O Control</a>
                                                                                                    <a href="/cards2.html" class="v2">Expansion and Ethernet cards</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">IOT Logistics Gateway</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">Processors</div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 11th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/TigerLake1.html" class="v2">Intel Tiger Lake Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 10th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/CometLake1.html" class="v2">Intel Comet Lake Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 6th to 9th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/6to91.html" class="v2">Intel Gen 6th to 9th Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Atom Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/ApolloLake3.html" class="v2">Intel Apollo Lake</a>
                                                                                                    <a href="/ElkhartLake1.html" class="v2">Intel Elkhart Lake</a>
                                                                                                    <a href="/AlderLakeN1.html" class="v2">Intel Alder Lake N</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Ethernet Cards</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/ethernetcards2.html" class="v2">Ethernet Cards</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 12th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/AlderLake-S.html" class="v2">Alder Lake-S</a>
                                                                                                    <a href="/AlderLake-P.html" class="v2">Alder Lake-P</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">Features</div>
                                                                                        <div class="con">
                                                <div class="tit">PoE/PoE+</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/PoEPoE1.html" class="v2">PoE/PoE+</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">2.5" Mini Size</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/2.5mini2.html" class="v2">2.5" Mini Size</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Multiple Expansion Slots</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/expansion61.html" class="v2">Multiple Expansion Slots</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Multi-network port</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/multiLAN31.html" class="v2">Multi-network port</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Real-time trigger and DIO</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/DIO71.html" class="v2">Real-time trigger and DIO</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Single Board Computer</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/singleboard72.html" class="v2">Single Board Computer</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        
                                            </li>
                                        <li>
                        <a href="/sample4.html" class="v1">Sales and Support</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">Sales and Support</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">Sales and Support</div>
                                            <div class="con">
                                                <div class="tit">Sales and Support</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/sample2.html" class="v2">Sample Application</a>
                                                                                                    <a href="/ycsphy1.html" class="v2">After-sales Service</a>
                                                                                                    <a href="/problems1.html" class="v2">Common Problems</a>
                                                                                                    <a href="/downloads1.html" class="v2">Downloads</a>
                                                                                                    <a href="/designandmanufacture1.html" class="v2">Design and Manufacture</a>
                                                                                                    <a href="/customized1.html" class="v2">Customized Service</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                        <li>
                        <a href="/Application1.html" class="v1">Application</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">Application</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">Application</div>
                                            <div class="con">
                                                <div class="tit">Application</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/921.html" class="v2">AMR</a>
                                                                                                    <a href="/321.html" class="v2">Intelligent Manufacture</a>
                                                                                                    <a href="/107.html" class="v2">Machine Vision</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                
                                            </li>
                                        <li>
                        <a href="/company6.html" class="v1">About us</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">About us</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">About us</div>
                                            <div class="con">
                                                <div class="tit">About us</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/company4.html" class="v2">About us</a>
                                                                                                    <a href="/companyculture2.html" class="v2">Company Culture</a>
                                                                                                    <a href="/news2.html" class="v2">News Center</a>
                                                                                                    <a href="/contactus2.html" class="v2">Contact Us</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                                    </ul>
                <div class="hd-link">
                    <div class="so_box">
                        <a href="JavaScript:;" class="so"><img src="/static/picture/g-icn07.png" alt=""></a>
                        <div class="box">
                            <div class="wp">
                                <form method="get" target="ifrm1" action="/en/index.php/Category/searchs.html" autocomplete="off">
                                    <div class="ipt"><input name="key" type="text" placeholder="Please input search content"></div>
                                    <button type="submit" class="btn"><img src="/static/picture/g-icn07.png" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="lang">
                        <div class="act">EN</div>
                        <div class="sub">
                            <a href="/company1.html" class="v2">CN</a>
                            <a href="" class="v2">EN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="con" style="background-image: url(/static/image/cb630759d55691af1d9fca7314c8cf3d.jpg);">
        <div class="txt">
            <div class="wp">
                <div class="tit">About us</div>
                <!-- <div class="desc">About us</div> -->
            </div>
        </div>
    </div>
</div><div class="row-c6">
    <div class="wp1360">
        <div class="g-tit03">
            <div class="tit">About us</div>
        </div>
        <ul class="ul-pro03">
                              <li>
                <div class="con">
                    <div class="pic"><img src="/static/picture/c72b1f0a9c0e3a4d3225cddfa06a7cc6.jpg"></div>
                    <div class="txt">
                        <div class="g-tit05">
                            <div class="tit">Our Business</div>
                            <div class="line"></div>
                        </div>
                        <div class="desc">
                            <p>Future Robot Technology Co., Ltd. is located in Shenzhen, China. It is a National High-tech Enterprise focusing on the fields of intelligent manufacturing and artificial intelligence. The company integrates R&D, production, system integration and sales services. With superb R&D strength as the core and market demand as the guide, it provides embedded products for global enterprises and individual users. The products are mainly used in industrial automation, robots, and machine vision.</p>
                        </div>
                    </div>
                </div>
            </li>
                        <li>
                <div class="con">
                    <div class="pic"><img src="/static/picture/a273d9228dc591fbb1d281469ebde688.jpg"></div>
                    <div class="txt">
                        <div class="g-tit05">
                            <div class="tit">Team</div>
                            <div class="line"></div>
                        </div>
                        <div class="desc">
                            <p>The company's hardware technology core team is composed of x86, FPGA, DSP hardware and software engineers, BIOS engineers, layout engineers, algorithm engineers, system development engineers and test engineers. The team members have more than 15 years of industry experience in industrial computers, machine vision who has rich project experience in the field of motion control. </p>
                        </div>
                    </div>
                </div>
            </li>
                            </ul>
    </div>
</div>
<div class="row-c7">
    <div class="wp">
        <div class="g-tit04">
            <div class="tit">Patents and certificates</div>
            <div class="line"></div>
        </div>
        <div class="slick04">
                              <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/e8e2b81710e3b4f7337b3e68f768e859.jpg"></div>
                    <div class="txt">SGS</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/4eff456f4b505377de0e45b59c3e2668.jpg"></div>
                    <div class="txt">SC</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/8fd7a09b0657863e5629f07c4a31220d.jpg"></div>
                    <div class="txt">EC</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/211cdf7339cf7dd78dbc334625ba0e46.jpg"></div>
                    <div class="txt">FC</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/9e7dc46a0f829691dd545075571b60f6.jpg"></div>
                    <div class="txt">EC</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/8f3084502751871e38ea0a78c2e06754.jpg"></div>
                    <div class="txt">An intelligent industrial gateway</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/07e87935546d21ef3811733c5e61300c.jpg"></div>
                    <div class="txt">A Gigabit network industrial camera expansion card</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/ce84aa0b02188b4d6288af2ed872858a.jpg"></div>
                    <div class="txt">An industrial camera</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/dccc2a68b09294d776e50dbc8fb4a384.jpg"></div>
                    <div class="txt">A USB3.0 industrial camera expansion card</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/b811dc8784d591da7e1ebe64b4b97a86.jpg"></div>
                    <div class="txt">An IO expansion board structure of an industrial computer</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/4186123104221fccf2ea8b7c6d1fee5e.jpg"></div>
                    <div class="txt">Industrial Smart Camera Visual Inspection Calibration Software</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/ee758ab2e6d5f85424240d704cfbdb3a.jpg"></div>
                    <div class="txt">Integrated automatic industrial instrument control system</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/dbd7565c2bcfab21bb962d94835261a2.jpg"></div>
                    <div class="txt">Embedded fanless IPC system based on industrial automation</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/93e972143d4ce985f87c0682915a117c.jpg"></div>
                    <div class="txt">PCI interface four-axis motion pulse type drive control system</div>
                </div>
            </div>
                        <div class="item">
                <div class="con">
                    <div class="pic"><img src="/static/picture/aa1995913139489ec3c9e56902f94180.jpg"></div>
                    <div class="txt">Automation equipment motion control servo system</div>
                </div>
            </div>
                            </div>
    </div>
</div>
<div class="row-c6">
    <div class="wp">
        <div class="g-tit04">
            <div class="tit">Partner certification</div>
            <div class="line"></div>
        </div>
        <ul class="ul-team">
                              <li><a><img src="/static/picture/d284543145dbf0495c660634e5441c76.jpg"></a></li>
                        <li><a><img src="/static/picture/3ecc84bd9f8867b77ecbaa03f04ddb20.jpg"></a></li>
                        <li><a><img src="/static/picture/e60cd770e2ee737b87bb341ee1158459.jpg"></a></li>
                            </ul>
    </div>
</div>

    <script>
        $(function() {
            $('.slick04').slick({
                dots: true,
                arrows: false,
                slidesToShow: 3,
                slidesToScroll: 3,
                responsive: [{
                    breakpoint: 1001,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                }],
            });
        });
    </script><div class="footer">
    <div class="wp">
        <div class="fd-top">
            <ul class="ul-fdnav">
                                            <li>
                    <div class="tit">Products</div>
                                                            <a href="/scalable4.html" class="v1">Scalable Embedded Series</a>
                                        <a href="/mini5.html" class="v1">Mini Size series</a>
                                        <a href="/universal4.html" class="v1">Universal Fanless Series</a>
                                        <a href="/allinone4.html" class="v1">All-in-one IPC</a>
                                                            <a href="/realtimeIO4.html" class="v1">Real-time I/O Control</a>
                                        <a href="/cards4.html" class="v1">Expansion and Ethernet cards</a>
                                                                                                            </li>
                                <li>
                    <div class="tit">Sales and Support</div>
                                                                               <a href="/sample2.html" class="v1">Sample Application</a>
                                        <a href="/ycsphy1.html" class="v1">After-sales Service</a>
                                        <a href="/problems1.html" class="v1">Common Problems</a>
                                        <a href="/downloads1.html" class="v1">Downloads</a>
                                        <a href="/designandmanufacture1.html" class="v1">Design and Manufacture</a>
                                        <a href="/customized1.html" class="v1">Customized Service</a>
                                                                                          </li>
                                <li>
                    <div class="tit">Application</div>
                                                                                                <a href="/921.html" class="v1">AMR</a>
                                        <a href="/321.html" class="v1">Intelligent Manufacture</a>
                                        <a href="/107.html" class="v1">Machine Vision</a>
                                                                        </li>
                                <li>
                    <div class="tit">About us</div>
                                                                                                                  <a href="/company6.html" class="v1">About us</a>
                                        <a href="/companyculture4.html" class="v1">Company Culture</a>
                                        <a href="/news4.html" class="v1">News Center</a>
                                        <a href="/contactus4.html" class="v1">Contact Us</a>
                                                      </li>
                                        </ul>
            <div class="fd-tel">
                <div class="info">
                    <div class="fd-logo"><a href="/index.html"><img src="/static/picture/fd-logo.png" alt=""></a></div>
                    <ul class="ul-tel">
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn03.png" alt=""></div>
                                <div class="txt">Tel：0755-86560716</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn04.png" alt=""></div>
                                <div class="txt">Email：info@futurerobottech.com</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn05.png" alt=""></div>
                                <div class="txt">Address：6th Floor, Building 17, Nanshan Ruiyuan, No. 45, Longzhu 3rd Road, Nanshan District, Shenzhen, Guangdong Province, China</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="qr">
                    <a href="https://www.linkedin.com/company/future-robot-tech-edge-computing-machine-vision-motion-control/post" target="_blank"><img src="/static/picture/23d33c66408db11a5d26ba7039a4eefa.png"></a>
                    <!-- <div class="desc">底部logo</div> -->
                </div>
            </div>
        </div>
        <div class="fd-copy">
            <div class="copy"><p>Copyrigt © 深圳市卓信创驰技术有限公司 All Rights Reserved 粤ICP备18096933号-1</p></div>
            <div class="link">
                <!-- <a href="">网站地图</a> -->
            </div>
        </div>
    </div>
</div>
<ul class="ul-snv">
    <li>
        <a href="javascript:;" class="con"><img src="/static/picture/g-icn061.png" alt=""></a>
        <div class="sub">
            <div class="item">
                <div class="icn"><img src="/static/picture/icn42.png" alt=""></div>
                <div class="tit"><a href="https://yzf.qq.com/xv/web/static/chat/index.html?sign=37ef9b97d1200792214797eb1bb3e2630aa7cd46ba3f51ff51a4bc40ea01b72f3ead319deab6bfffccb80ab144769342f22e8cb6" target="_blank">Contact</a></div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn43.png" alt=""></div>
                <div class="tit">0755-86560716</div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn44.png" alt=""></div>
                <div class="tit">info@futurerobottech.com</div>
            </div>
        </div>
    </li>
</ul>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/lib.js"></script>
<link rel="stylesheet" href="/static/css/slick.css">
<script src="/static/js/slick.min.js"></script>
</body>
</html>