<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>深圳市卓信创驰技术有限公司</title>
<meta name="keywords" content="深圳市卓信创驰技术有限公司">
<meta name="description" content="深圳市卓信创驰技术有限公司">
<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/css/style1.css">
<link rel="stylesheet" href="/static/css/less1.css">
<script src="/static/js/jquery.min.js"></script>
</head>
<body ondragstart="return false">
<div class="header">
    <div class="wp">
        <div class="hd">
            <div class="menuBtn"></div>
            <div class="logo">
                <a href="/en.html"><img src="/static/picture/2a9e30040078264f1aac0b425be2d52e.png"></a>
            </div>
            <div class="hdr">
                <ul class="ul-nav">
                    <li><a href="/en.html" class="v1">Home</a></li>
                                                            <li>
                        <a href="/Producs1.html" class="v1">Products</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                                                            <div class="lab on">Applications</div>
                                                                            <div class="lab ">Processors</div>
                                                                            <div class="lab ">Features</div>
                                     
                                    </div>
                                    <div class="g-tabinfo">
                                                                            <div class="item on">
                                            <div class="tit-m">Applications</div>
                                                                                        <div class="con">
                                                <div class="tit">Rugged Embedded Computing</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/scalable2.html" class="v2">Scalable Embedded Series</a>
                                                                                                    <a href="/mini3.html" class="v2">Mini Size series</a>
                                                                                                    <a href="/universal2.html" class="v2">Universal Fanless Series</a>
                                                                                                    <a href="/allinone2.html" class="v2">All-in-one IPC</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Machine and Vision Control</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/realtimeIO2.html" class="v2">Real-time I/O Control</a>
                                                                                                    <a href="/cards2.html" class="v2">Expansion and Ethernet cards</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">IOT Logistics Gateway</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">Processors</div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 11th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/TigerLake1.html" class="v2">Intel Tiger Lake Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 10th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/CometLake1.html" class="v2">Intel Comet Lake Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 6th to 9th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/6to91.html" class="v2">Intel Gen 6th to 9th Platform</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Atom Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/ApolloLake3.html" class="v2">Intel Apollo Lake</a>
                                                                                                    <a href="/ElkhartLake1.html" class="v2">Intel Elkhart Lake</a>
                                                                                                    <a href="/AlderLakeN1.html" class="v2">Intel Alder Lake N</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Ethernet Cards</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/ethernetcards2.html" class="v2">Ethernet Cards</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Intel Gen 12th Platform</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/AlderLake-S.html" class="v2">Alder Lake-S</a>
                                                                                                    <a href="/AlderLake-P.html" class="v2">Alder Lake-P</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                                                            <div class="item ">
                                            <div class="tit-m">Features</div>
                                                                                        <div class="con">
                                                <div class="tit">PoE/PoE+</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/PoEPoE1.html" class="v2">PoE/PoE+</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">2.5" Mini Size</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/2.5mini2.html" class="v2">2.5" Mini Size</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Multiple Expansion Slots</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/expansion61.html" class="v2">Multiple Expansion Slots</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Multi-network port</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/multiLAN31.html" class="v2">Multi-network port</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Real-time trigger and DIO</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/DIO71.html" class="v2">Real-time trigger and DIO</a>
                                                                                                </div>
                                            </div>
                                                                                        <div class="con">
                                                <div class="tit">Single Board Computer</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/singleboard72.html" class="v2">Single Board Computer</a>
                                                                                                </div>
                                            </div>
                                                                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        
                                            </li>
                                        <li>
                        <a href="/sample4.html" class="v1">Sales and Support</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">Sales and Support</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">Sales and Support</div>
                                            <div class="con">
                                                <div class="tit">Sales and Support</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/sample2.html" class="v2">Sample Application</a>
                                                                                                    <a href="/ycsphy1.html" class="v2">After-sales Service</a>
                                                                                                    <a href="/problems1.html" class="v2">Common Problems</a>
                                                                                                    <a href="/downloads1.html" class="v2">Downloads</a>
                                                                                                    <a href="/designandmanufacture1.html" class="v2">Design and Manufacture</a>
                                                                                                    <a href="/customized1.html" class="v2">Customized Service</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                        <li>
                        <a href="/Application1.html" class="v1">Application</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">Application</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">Application</div>
                                            <div class="con">
                                                <div class="tit">Application</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/921.html" class="v2">AMR</a>
                                                                                                    <a href="/321.html" class="v2">Intelligent Manufacture</a>
                                                                                                    <a href="/107.html" class="v2">Machine Vision</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                
                                            </li>
                                        <li>
                        <a href="/company6.html" class="v1">About us</a>
                        <div class="arr"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                                        
                                                <div class="sub">
                            <div class="wp1120">
                                <div class="info">
                                    <div class="g-tab">
                                        <div class="lab on">About us</div>
                                    </div>
                                    <div class="g-tabinfo">
                                        <div class="item on">
                                            <div class="tit-m">About us</div>
                                            <div class="con">
                                                <div class="tit">About us</div>
                                                <div class="arr2"><span><img src="/static/picture/g-icn09.png" alt=""></span></div>
                                                <div class="txt">
                                                                                                    <a href="/company4.html" class="v2">About us</a>
                                                                                                    <a href="/companyculture2.html" class="v2">Company Culture</a>
                                                                                                    <a href="/news2.html" class="v2">News Center</a>
                                                                                                    <a href="/contactus2.html" class="v2">Contact Us</a>
                                                                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </li>
                                                    </ul>
                <div class="hd-link">
                    <div class="so_box">
                        <a href="JavaScript:;" class="so"><img src="/static/picture/g-icn07.png" alt=""></a>
                        <div class="box">
                            <div class="wp">
                                <form method="get" target="ifrm1" action="/en/index.php/Category/searchs.html" autocomplete="off">
                                    <div class="ipt"><input name="key" type="text" placeholder="Please input search content"></div>
                                    <button type="submit" class="btn"><img src="/static/picture/g-icn07.png" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="lang">
                        <div class="act">EN</div>
                        <div class="sub">
                            <a href="/index.html" class="v2">CN</a>
                            <a href="" class="v2">EN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="in-ban">
        <div class="item">
       <a href="/162.html" target="_self" class="con" style="background-image: url(/static/image/649bac052e878cd6a04abb6699ccf745.jpg);"></a>
    </div>
        <div class="item">
       <a href="/412.html" target="_self" class="con" style="background-image: url(/static/image/5c11324b13ce1e005520bd731e7583fa.jpg);"></a>
    </div>
        <div class="item">
       <a href="/universal2.html" target="_self" class="con" style="background-image: url(/static/image/774e576a6fc6b15ee79b68d3e359431f.jpg);"></a>
    </div>
        <div class="item">
       <a href="/allinone2.html" target="_self" class="con" style="background-image: url(/static/image/849e89d9746400436237790bc4325ae7.jpg);"></a>
    </div>
        <div class="item">
       <a href="/singleboard72.html" target="_self" class="con" style="background-image: url(/static/image/39043ac7fc1d4a4cb7e78ffe3615fdac.jpg);"></a>
    </div>
    </div>
<div class="row-c1">
    <div class="wp">
        <div class="g-tit01">
            <div class="tit">Provide<span> Embedded </span>Products for Globle Enterprise and Users</div>
        </div>
        <div class="m-info01">
            <div class="item1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/scalable2.html" target="_self" class="con">
                    <div class="pic"><img src="/static/picture/02656dcafaa39ebd33dd7fd5d2049e36.jpg"></div>
                </a>
            </div>
            <div class="item1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <a href="/mini3.html" target="_self" class="con">
                    <div class="pic"><img src="/static/picture/a58201e92ee23bb3f2ff051214f51579.jpg"></div>
                </a>
            </div>
            <div class="item1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <a href="/singleboard72.html" target="_self" class="con">
                    <div class="pic"><img src="/static/picture/a430a426396292fe297fc5e924641131.jpg"></div>
                </a>
            </div>
            <div class="item2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <a href="/universal2.html" target="_self" class="con">
                    <div class="pic"><img src="/static/picture/2c44dbcef7f84073d5676677cbef31a9.jpg"></div>
                </a>
            </div>
            <div class="item2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                <a href="/allinone2.html" target="_self" class="con">
                    <div class="pic"><img src="/static/picture/c38b5b4682fa78c89c07025598bf396d.jpg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row-c2">
    <div class="wp">
        <div class="m-info02">
            <div class="l wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="g-tit02">
                    <div class="tit">ABOUT US</div>
                    <!-- <div class="desc">ABOUT US</div> -->
                </div>
                <a href="/company7.html" class="More">
                    <p>LEARN MORE</p>
                    <div class="icn"><img src="/static/picture/icn02.png" alt=""></div>
                </a>
            </div>
            <div class="r">
                <div class="tit wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Build The Future With US !</div>
                <div class="desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">Future Robot focuses on the fields of intelligent manufacturing and atificial inteligence. The company integrates R8D, production, systeminteqration and sales services. With superb R8D strength as the core and market demand as the guide, we provides embedded productsfor global enterprises and individuals.</div>
                <ul class="ul-list02">
                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="con">
                            <div class="icn"><img src="/static/picture/icn04.png" alt=""></div>
                            <div class="txt">Honest</div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="con">
                            <div class="icn"><img src="/static/picture/icn05.png" alt=""></div>
                            <div class="txt">Pragmatic</div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="con">
                            <div class="icn"><img src="/static/picture/icn06.png" alt=""></div>
                            <div class="txt">Innovation</div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="con">
                            <div class="icn"><img src="/static/picture/icn07.png" alt=""></div>
                            <div class="txt">Talents</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="ul-pro01">
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <a href="/company4.html" target="_self" class="con">
                <div class="pic"><img src="/static/picture/bbc4ba7a67245be79d8b438102de2897.jpg"></div>
                <div class="info">
                    <div class="num">01</div>
                    <div class="tit">R&D Team</div>
                </div>
            </a>
        </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <a href="/107.html" target="_self" class="con">
                <div class="pic"><img src="/static/picture/397475c967c7b516233b861545d58b32.jpg"></div>
                <div class="info">
                    <div class="num">02</div>
                    <div class="tit">Applications</div>
                </div>
            </a>
        </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <a href="/customized1.html" target="_self" class="con">
                <div class="pic"><img src="/static/picture/4e8b953b3e7592ba24291beb56c31e19.jpg"></div>
                <div class="info">
                    <div class="num">03</div>
                    <div class="tit">Customized Service</div>
                </div>
            </a>
        </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <a href="/companyculture2.html" target="_self" class="con">
                <div class="pic"><img src="/static/picture/24dc4cdffb320be01f79e90659c3b9f8.jpg"></div>
                <div class="info">
                    <div class="num">04</div>
                    <div class="tit">Company Culture</div>
                </div>
            </a>
        </li>
            </ul>
</div>
<div class="row-c3">
    <div class="wp">
        <div class="g-tit02">
            <div class="tit">NEWS CENTER</div>
            <div class="desc"><span>Record the wonderful life, growth and win-win achievement</span></div>
        </div>
        <div class="slick01">
                    <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/173.html" title="Future Robot won the Intel Titanium level partner again in 2024" class="con">
                    <div class="pic"><img src="/static/picture/526b7137221993caa8b161ecabac7fbb.jpg" alt="Future Robot won the Intel Titanium level partner again in 2024"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Future Robot won the Intel Titanium level partner again in 2024</div>
                        <div class="desc">Annual update, Future Robot won the Intel Titanium level Partner again!</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/167.html" title="Application of E67I 4U Industrial PC in the field of environmental monitoring" class="con">
                    <div class="pic"><img src="/static/picture/a4c3f823f8023aae4e512384a57fc388.jpg" alt="Application of E67I 4U Industrial PC in the field of environmental monitoring"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Application of E67I 4U Industrial PC in the field of environmental monitoring</div>
                        <div class="desc">Based on Intel 13th generation Core i3/ i5/ i7/ i9 series CPU</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/160.html" title="We are a Titanium Member Partner of Intel now!" class="con">
                    <div class="pic"><img src="/static/picture/0b03f8c4810d08f8f3b5a217887243f8.png" alt="We are a Titanium Member Partner of Intel now!"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">We are a Titanium Member Partner of Intel now!</div>
                        <div class="desc"></div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/166.html" title="Application of E800 in chip defect detection" class="con">
                    <div class="pic"><img src="https://www.futurerobottech.com/en/Uploads/image/20230914/ac37ba59094b5a64858131f13f2c5dd5.png" alt="Application of E800 in chip defect detection"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Application of E800 in chip defect detection</div>
                        <div class="desc">Future Robot E800 series is specially designed for the needs of semiconductor manufacturing applications</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/159.html" title="Application of E722i series embedded industrial computer in the field of intelligent construction site" class="con">
                    <div class="pic"><img src="/static/picture/ae3e5d5efa8788b9350adc8c64db4585.jpg" alt="Application of E722i series embedded industrial computer in the field of intelligent construction site"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Application of E722i series embedded industrial computer in the field of intelligent construction site</div>
                        <div class="desc"></div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/157.html" title="Application of E612i series IPC in the field of lithium battery detection" class="con">
                    <div class="pic"><img src="/static/picture/4db3547fe39d59da24d66f3b7701a37c.jpg" alt="Application of E612i series IPC in the field of lithium battery detection"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Application of E612i series IPC in the field of lithium battery detection</div>
                        <div class="desc">E612i series IPC based on Intel Gen 10th Comet Lake processors with rich interfaces, which can expand various devices.This article describes an application of E612i in the field of lithium battery production.</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/152.html" title="Future Robot join hands with Intel! Stability and prosperity, integration and innovation - 2023 AMR enabling intelligent manufacturing seminar was successfully held!" class="con">
                    <div class="pic"><img src="/static/picture/2fab47ab5065dc55c7d78ca9138483f6.jpg" alt="Future Robot join hands with Intel! Stability and prosperity, integration and innovation - 2023 AMR enabling intelligent manufacturing seminar was successfully held!"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Future Robot join hands with Intel! Stability and prosperity, integration and innovation - 2023 AMR enabling intelligent manufacturing seminar was successfully held!</div>
                        <div class="desc">On March 6, the "Stability and Innovation--2023 AMR Enabling Intelligent Manufacturing Seminar" jointly organized by Intel and Future Robot was successfully held at the JW Marriott Hotel, OCT, Qianhai, Shenzhen.</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/150.html" title="【Company News】The new official website of Future Robot is launched today！" class="con">
                    <div class="pic"><img src="/static/picture/88194c12e83b51a1063cd880d34f910b.jpg" alt="【Company News】The new official website of Future Robot is launched today！"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">【Company News】The new official website of Future Robot is launched today！</div>
                        <div class="desc">On February 27th, our new official website was launched! Welcome everyone to visit！</div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/148.html" title="The E611i Helps Detect Surface Defects and Anomalies in the Manufacturing process" class="con">
                    <div class="pic"><img src="/static/picture/25a5d9070e99ed96b815b19393d86aae.jpg" alt="The E611i Helps Detect Surface Defects and Anomalies in the Manufacturing process"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">The E611i Helps Detect Surface Defects and Anomalies in the Manufacturing process</div>
                        <div class="desc"></div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/147.html" title="Future Robot helps the logistics industry to efficiently cope with logistics peaks" class="con">
                    <div class="pic"><img src="/static/picture/d50e29c6fb9a431c5fe5ef93782a836b.png" alt="Future Robot helps the logistics industry to efficiently cope with logistics peaks"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">Future Robot helps the logistics industry to efficiently cope with logistics peaks</div>
                        <div class="desc"></div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                        <div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <a href="/146.html" title="E600i Series Embedded IPC helps enterprises build smart factories" class="con">
                    <div class="pic"><img src="/static/picture/a8e0dce5ee5272f1e331cc65838f2abe.jpg" alt="E600i Series Embedded IPC helps enterprises build smart factories"></div>
                    <div class="txt">
                        <div class="titsub">News Center</div>
                        <div class="tit">E600i Series Embedded IPC helps enterprises build smart factories</div>
                        <div class="desc"></div>
                        <div class="more">Details&gt;</div>
                    </div>
                </a>
            </div>
                    </div>
    </div>
</div>
    
<script>
    $(function() {
        $('.in-ban').slick({
            dots: true,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 4000,
            fade: true,
            cssEase: 'linear',
            customPaging: function(slider, i) {
                var num1 = i + 1;
                var num2 = slider.slideCount;
                if (num1 < 9) {
                    num1 = '0' + num1;
                }
                if (num2 < 9) {
                    num2 = '0' + num2;
                }
                return num1;
            },
        });
        $('.slick01').slick({
            dots: true,
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [{
                breakpoint: 1001,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }],
        });
    });
</script><div class="footer">
    <div class="wp">
        <div class="fd-top">
            <ul class="ul-fdnav">
                                            <li>
                    <div class="tit">Products</div>
                                                            <a href="/scalable4.html" class="v1">Scalable Embedded Series</a>
                                        <a href="/mini5.html" class="v1">Mini Size series</a>
                                        <a href="/universal4.html" class="v1">Universal Fanless Series</a>
                                        <a href="/allinone4.html" class="v1">All-in-one IPC</a>
                                                            <a href="/realtimeIO4.html" class="v1">Real-time I/O Control</a>
                                        <a href="/cards4.html" class="v1">Expansion and Ethernet cards</a>
                                                                                                            </li>
                                <li>
                    <div class="tit">Sales and Support</div>
                                                                               <a href="/sample2.html" class="v1">Sample Application</a>
                                        <a href="/ycsphy1.html" class="v1">After-sales Service</a>
                                        <a href="/problems1.html" class="v1">Common Problems</a>
                                        <a href="/downloads1.html" class="v1">Downloads</a>
                                        <a href="/designandmanufacture1.html" class="v1">Design and Manufacture</a>
                                        <a href="/customized1.html" class="v1">Customized Service</a>
                                                                                          </li>
                                <li>
                    <div class="tit">Application</div>
                                                                                                <a href="/921.html" class="v1">AMR</a>
                                        <a href="/321.html" class="v1">Intelligent Manufacture</a>
                                        <a href="/107.html" class="v1">Machine Vision</a>
                                                                        </li>
                                <li>
                    <div class="tit">About us</div>
                                                                                                                  <a href="/company6.html" class="v1">About us</a>
                                        <a href="/companyculture4.html" class="v1">Company Culture</a>
                                        <a href="/news4.html" class="v1">News Center</a>
                                        <a href="/contactus4.html" class="v1">Contact Us</a>
                                                      </li>
                                        </ul>
            <div class="fd-tel">
                <div class="info">
                    <div class="fd-logo"><a href="/index.html"><img src="/static/picture/fd-logo.png" alt=""></a></div>
                    <ul class="ul-tel">
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn03.png" alt=""></div>
                                <div class="txt">Tel：0755-86560716</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn04.png" alt=""></div>
                                <div class="txt">Email：info@futurerobottech.com</div>
                            </div>
                        </li>
                        <li>
                            <div class="con">
                                <div class="icn"><img src="/static/picture/g-icn05.png" alt=""></div>
                                <div class="txt">Address：6th Floor, Building 17, Nanshan Ruiyuan, No. 45, Longzhu 3rd Road, Nanshan District, Shenzhen, Guangdong Province, China</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="qr">
                    <a href="https://www.linkedin.com/company/future-robot-tech-edge-computing-machine-vision-motion-control/post" target="_blank"><img src="/static/picture/23d33c66408db11a5d26ba7039a4eefa.png"></a>
                    <!-- <div class="desc">底部logo</div> -->
                </div>
            </div>
        </div>
        <div class="fd-copy">
            <div class="copy"><p>Copyrigt © 深圳市卓信创驰技术有限公司 All Rights Reserved 粤ICP备18096933号-1</p></div>
            <div class="link">
                <!-- <a href="">网站地图</a> -->
            </div>
        </div>
    </div>
</div>
<ul class="ul-snv">
    <li>
        <a href="javascript:;" class="con"><img src="/static/picture/g-icn061.png" alt=""></a>
        <div class="sub">
            <div class="item">
                <div class="icn"><img src="/static/picture/icn42.png" alt=""></div>
                <div class="tit"><a href="https://yzf.qq.com/xv/web/static/chat/index.html?sign=37ef9b97d1200792214797eb1bb3e2630aa7cd46ba3f51ff51a4bc40ea01b72f3ead319deab6bfffccb80ab144769342f22e8cb6" target="_blank">Contact</a></div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn43.png" alt=""></div>
                <div class="tit">0755-86560716</div>
            </div>
            <div class="item">
                <div class="icn"><img src="/static/picture/icn44.png" alt=""></div>
                <div class="tit">info@futurerobottech.com</div>
            </div>
        </div>
    </li>
</ul>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/lib.js"></script>
<link rel="stylesheet" href="/static/css/slick.css">
<script src="/static/js/slick.min.js"></script>
</body>
</html>